<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://komputaciona-projekat.firebaseapp.com/">Komputaciona Projekat</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/ai">Igrač protiv računara</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/igrac-igrac">2 igrača</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/points-orientation">Orijentacije tačaka</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/two-segments">Provjera presjeka dva segmenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/simple-polygon">Prost poligon i ostali algoritmi vezani za poligon</a>
        </li>
 
      </ul>
      
    </div>
  </nav>
</header>
