<h1>CG FrameWork - student: Vedad Delić</h1>
<app-header></app-header>
<router-outlet></router-outlet>
<h1>Kompjuterska Geometrija</h1>
	<h2>Projekat I - CG framework</h2>
    <h4>opis projekta će se nalaziti na dnu svakog algoritma</h4>
	<p>Implementirati sljedeće algoritme:</p>
	<ul>
		<li>Algoritam nalaženja prostog poligona<br>
			Algoritam se ogleda u konstruisanju prostog poligona nad zadatim skupom tačaka u ravni.
		</li>
		<li>Algoritam nalaženja konveksnog omotača<br>
			Algoritam se ogleda u konstruisanju konveksnog omotača nad zadatim skupom tačaka u ravni.
		</li>
		<li>Algoritam provjere položaja tačke u odnosu na trougao<br>
			Algoritam za zadatu tačku i trougao u ravni provjerava da li se tačka nalazi unutar trougla. U unutrašnjost trougla spada lice trougla, sve njegove ivice, te sve njegove tačke.
		</li>
		<li>Algoritam provjere položaja tačke u odnosu na poligon<br>
			Algoritam za zadatu tačku i (prosti) poligon u ravni provjerava da li se tačka nalazi unutar poligona. U unutrašnjost poligona spada lice poligona, sve njegove ivice, te sve njegove tačke.
		</li>
		<li>Algoritam provjere presjeka dva segmenta<br>
			Za dva zadata segmenta, algoritam treba da provjeri da li se ta dva segmenta sijeku.
		</li>
		<li>Algoritam provjere orijentacije tačaka<br>
			Pronaći orijentaciju tri tačke zadate u ravni.
		</li>
		<li>Algoritam provjere orijentacije poligona<br>
			Za zadati poligon, ispitati da li je isti lijeve ili desne orijentacije.
		</li>
		<li>Algoritam provjere presjeka segmenta i poligona<br>
			Ispitati da li zadati segment siječe zadati poligon u ravni.
		</li>
		<li>Algoritam provjere praznog trougla<br>
			Za zadati skup tačaka u ravni i trougao u ravni provjeriti da li postoji ijedna tačka od zadatih da se nalazi u unutrašnjosti trougla. U unutrašnjost trougla spada lice trougla, sve njegove ivice, te sve njegove tačke.
		</li>
		<li>Algoritam provjere praznog poligona<br>
			Za zadati skup tačaka u ravni i poligon u ravni provjeriti da li postoji ijedna tačka od zadatih da se nalazi u unutrašnjosti poligona. U unutrašnjost poligona spada lice poligona, sve njegove ivice, te sve njegove tačke.
        </li>
        <li>Algoritam provjere konveksnosti četverougla<br>
        Za zadati četverougao u ravni provjeriti da li je isti konveksan.
        </li>
        <li>Reprezentacija geometrijskih struktura (tačke, segmenta, trougla, četverougla, poligona, itd.) se ostavlja studentu na volju.</li>
        </ul>
        
        