<div class="grid-size-buttons">
    <button (click)="changeGridSize(6, 4, 2)">6x4</button>
    <button (click)="changeGridSize(8, 6, 4)">8x6</button>
    <button (click)="changeGridSize(8, 10, 8)">8x10</button>
    <button (click)="restartGame()">{{gameOver ? "Igraj ponovo" : "Restart"}}</button>
  </div>
  
  <h1 *ngIf="gameOver" style="text-align: center; color: red">Pobjednik je igrač {{ currentPlayer % 3}}</h1>
  <div class="container">
    <canvas #gameCanvas (click)="onCanvasClick($event)"></canvas>
  </div>

  